.boardsContent {
  max-width: 825px;
  min-width: 288px;
  width: 100%;
}

.boardsRecently {
  margin: 0 0 30px 0;
}

.boardsRecentlyHead{
  display: flex;
  align-items: center;
  padding: 0 0 11px;
  column-gap: 16px;
  .boardsRecentlyIcon {
    width: 24px;
    height: 25px;
  }
  .boardsRecentlyText {
    display: inline-block;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 3px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.boardsWorkspacesHead {
  margin: 0 0 15px 0;
}

.boardsFavorite {
  margin: 0 0 30px 0;
}
.boardsFavoriteHead {
  display: flex;
  align-items: center;
  padding: 0 0 11px;
  column-gap: 16px;
  .boardsFavoriteIcon {
    width: 24px;
    height: 25px;
  }
  .boardsFavoriteText {
    display: inline-block;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 3px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.closedWorkspacesButton{
  border: 0;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
  white-space: normal;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  color: inherit;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}