$base-color: #172b4d;
$header-color: #026aa7;
$alt-color: #0079bf;

.header {
  background-color: $header-color;
}

.content {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 40px auto 0;
  min-height: calc(100vh - 164px);
}

.left-containerMain {
  max-height: 90vh;
  padding: 0 16px;
  width: 240px;
}

.sidebarMain {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.listItem {
  margin-bottom: 4px;
}

.itemLink {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  color: inherit;
  font-weight: bold;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 0;
  text-decoration: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  column-gap: 12px;
  &:not(.current):hover {
    background-color: rgba(9, 30, 66, 0.08);
    color: currentColor;
  }
}

.current {
  background-color: #e4f0f6;
  color: $alt-color;
}

.workspacesDiv {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  padding-top: 12px;
  padding-bottom: 40px;
  list-style: none;
  .workspaceHead {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
  }
  .workspace {
    margin-bottom: 4px;
    .workspaceHeader {
      align-items: center;
      background-color: transparent;
      border-radius: 4px;
      box-shadow: none;
      color: inherit;
      display: flex;
      font-weight: bold;
      margin: 0;
      min-height: 20px;
      overflow: hidden;
      padding: 6px 8px 6px 0;
      text-decoration: none;
      transition-property: background-color, border-color, box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;
      .workspaceIcon {
        font-size: 14px;
        border-radius: 2px;
        height: 21px;
        width: 21px;
        margin: 6px;
        flex: 0 0 auto;
        background: linear-gradient(#0747a6, #008da6);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-weight: bold;
      }
      .workspaceName {
        flex: 1 1 auto;
        width: min-content;
        overflow: hidden;
        text-overflow: ellipsis;
        color: inherit;
        font-weight: bold;
      }
      .workspaceArrow {
        margin-left: 4px;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.workspaceText {
  user-select: none;
  color: #5e6c84;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.workspaceAddBtn {
  color: currentColor;
  margin-bottom: 0;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
    color: currentColor;
  }
}

.icon {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  display: inline-block;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  background-color: transparent;
  border: none;
  padding: 0;
}

.sectionTitle {
  display: flex;
  column-gap: 4px;
}

.right-linksButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-weight: 400;
  box-shadow: none;
  margin: 0;
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
  color: #5e6c84;
  cursor: pointer;
  height: 48px;
  padding: 8px 40px 8px 8px;
  position: relative;
  text-decoration: none;
  width: 100%;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
    color: currentColor;
  }
}

.buttonPlus {
  background-color: rgba(9, 30, 66, 0.08);
  box-shadow: none;
  border: none;
  text-decoration: none;
  display: flex;
  height: 28px;
  width: 32px;
  align-items: center;
  border-radius: 4px;
  flex: 0 0 auto;
  justify-content: center;
  font-size: 20px;
}

.buttonText {
  color: #172b4d;
}

.workspaceModalContainer{
  overflow: auto;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13,13,13,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.workspaceModal{
  background-color: #ffffff;
  position: relative;
  align-items: stretch;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  margin-top: 16px;
  outline: 0;
  overflow: hidden;
  width: calc(100vw - 48px);
  z-index: 1;
}

.modal-leftSide{
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 24px;
  overflow: auto;
  text-align: left;
  z-index: 3;
  margin: 64px auto 16px;
  .modal-form{
    display: flex;
    flex-direction: column;
    width: 388px;
    .form-head{
      color: #091E42;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -0.01em;
      line-height: 28px;
      display: block;
      margin-bottom: 12px;
    }
    .form-text{
      font-size: 18px;
      color: #6B778C;
      margin: 12px auto 24px;
    }
  }
}

.modalHead{
  margin-top: 24px;
  color: #091E42;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 4px;
  cursor: default;
}

#workspaceInput{
  height: 48px;
  margin-bottom: 6px;
  -webkit-appearance: none;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
}

.workspaceHelp{
  color: #6B778C;
  font-size: 12px;
  margin-bottom: 12px;
}

.activitySelect{
  margin-bottom: 12px;
  min-height: 36px;
  background-color: #fafbfc;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  border-radius: 3px;
  width: 100%;
  -moz-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -moz-box-pack: justify;
  justify-content: space-between;
  outline: 0;
  position: relative;
  transition: all 100ms ease 0s;
  box-sizing: border-box;
  border: medium none;
  height: 36px;
  padding: 8px 12px;
}

.descriptionHead-additional{
  color: #6B778C;
  font-size: 12px;
  font-weight: 100;
  cursor: default;
}

.descriptionTextarea{
  color: #5e6c84;
  margin-bottom: 6px;
  resize: none;
  -webkit-appearance: none;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  &:hover{
    background-color: #ebecf0;
    box-shadow: inset 0 0 0 2px #dfe1e6;
  }
}

.descriptionHelp{
  color: var(--ds-text-subtle, #6B778C);
  font-size: 12px;
  margin-bottom: 12px;
}

.form-continue{
  height: 48px;
  width: 100%;
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  color:  #a5adba;
  cursor: not-allowed;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 3px;
  padding: 6px 12px;
  white-space: normal;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.modal-rightSide{
  align-items: flex-start;
  padding-top: 112px;
  background: url("../images/modal-bg.svg") no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: center;
}

.modal-close{
  margin-top: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #42526e;
  padding: 0;
  text-decoration: none;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 8px;
  -webkit-appearance: none;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  border: 0;
  height: 24px;
  width: 24px;
  line-height: 24px;
}

.workspaceListItem {
  margin-bottom: 4px;
  .workspaceItemLink {
    font-size: 12px;
    font-weight: 400;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    column-gap: 4px;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 6px 8px 6px 28px;
    text-decoration: none;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    &:not(.current) {
      color: rgba(9, 30, 66, 0.66);
      background-color: transparent;
    }
    &:not(.current):hover {
      color: rgba(9, 30, 66, 0.77);
      background-color: rgba(9, 30, 66, 0.08);
      outline: 0;
      .symbolItem {
        width: 10px;
        transform: translateX(0px);
      }
    }
  }
  .workspaceLinkIcon {
    display: block;
    flex: 0 0 auto;
    text-align: center;
    width: 16px;
    height: 16px;
    color: #42526e;
    font-size: 12px;
  }
  .workspaceLinkText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    width: min-content;
    font-size: 12px;
    color: inherit;
  }
}

.membersPlusSymbol {
  font-weight: bold;
}

.symbolItem {
  width: 0;
  transform: translateX(20px);
  transition: all 0.2s ease;
}