.space-menu {
  width: 260px;
  height: 100%;
  color: white;
  border-right: 0.8px solid rgba($color: #ffffff, $alpha: 0.16);
  backdrop-filter: blur(10px);
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}

.space-top-section {
  width: 236px;
  padding: 14px 12px;
  display: flex;
  border-bottom: 0.8px solid rgba($color: #ffffff, $alpha: 0.16);
}

.left-space-wrapper {
  max-height: calc(100% - 68px);
}

.space-link {
  background-image: linear-gradient(#0747a6, #008da6);
  color: white;
  border-radius: 3px;
  width: 36px;
  height: 36px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-name {
  font-weight: 700;
  width: 156px;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-hide-menu {
  background: none;
  border: none;
}

.left-arrow {
  border: none;
  background-image: url(../images/left-arrow.svg);
  background-position: center;
  width: 24px;
  height: 24px;
}

.space-option-link {
  display: flex;
  width: 100%;
  height: 32px;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.space-option-text {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 172px;
  margin-left: 12px;
}

.left-space-menu {
  padding-top: 12px;
}

.icon-img {
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 20px;
}

.boards-img {
  background-image: url('../images/trello-icon-white.svg');
}

.users-img {
  background-image: url('../images/users-icon.svg');
}

.gear-img {
  background-image: url('../images/gear.svg');
}

.plus-img {
  cursor: pointer;
  margin: 4px;
  background-image: url('../images/plus.svg');
}

.arrow-down {
  margin: 4px;
  background-image: url('../images/down.svg');
}

.boards-container {
  margin-top: 6px;
}

.boards-header-container {
  width: 240px;
  height: 24px;
  padding: 4px 0 4px 24px;
  display: flex;
  align-items: center;
}

.space-boards-header {
  width: 182px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-item {
  padding: 0 12px;
  width: 236px;
  display: flex;
  align-items: center;
}

.board-img {
  width: 24px;
  height: 20px;
  margin-right: 8px;
}

.board-option-text {
  width: 140px;
}

.board-action {
  z-index: 5;
  display: flex;
  width: 56px;
}

.board-option-settings {
  background-image: url('../images/three-dots.svg');
}

.favorite-img {
  background-image: url('../images/favorite.svg');
}

.chosen-favorite-img {
  background-image: url('../images/star-yellow.svg');
}

.hidden {
  display: none;
}

.chosen-board {
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}

.board-modal-setting {
  width: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  &-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #222222, $alpha: 0.6);
    &.active {
      display: flex;
    }
  }

  &-button {
    &--delete {
      &:hover {
        background-color: rgba($color: #d70f0f, $alpha: 0.6);
      }
    }
    &--update {
      &:hover {
        background-color: rgba($color: #358a2f, $alpha: 0.6);
      }
    }
  }
  
  .board-modal-setting-image {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-item {
      margin-right: 10px;
    }
    &-img {
      width: 100px;
      height: 80px;
      cursor: pointer;
      &:hover {
        border: 3px solid green;
      }
      &.choose {
        border: 3px solid goldenrod;
      }
    }
    &-button {
      &:hover {
        background-color: rgba($color: #358a2f, $alpha: 0.6);
      }
    }
  }

  .board-modal-setting-color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    &-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-item {
      width: 100px;
      height: 80px;
      margin-right: 10px;
      &:hover {
        border: 3px solid green;
      }
      &.choose {
        border: 3px solid goldenrod;
      }
    }
    &-button {
      &:hover {
        background-color: rgba($color: #358a2f, $alpha: 0.6);
      }
    }
  }
}

.list-modal-setting {
  &-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    
    background-color: rgba($color: #222222, $alpha: 0.6);
    &.active {
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
    }
  }
}