.work-space-big-board-list {
    &-item {
        
    }
    &-header {
        display: flex;
        margin:  0 0 15px 0;
    }
    &-icon {
        font-size: 14px;
        border-radius: 2px;
        height: 21px;
        width: 21px;
        margin: 6px;
        flex: 0 0 auto;
        background: linear-gradient(#0747a6, #008da6);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-weight: bold;
      }

    &-name {
        display: inline-block;
        flex: 1;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 3px 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-create {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: var(--ds-background-neutral,#091e420a);
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        &:hover {
            background-color: var(--ds-background-neutral,#1354c322);
        }
    }
}